button{
  height: 25px;
}

#agregar_doctores_button{
  margin-top: 2%;
  margin-left: 32%;
}

#atras_button{
  margin-top: 35%;
  margin-left: 2%
  
}

#eliminar_doctores_button{
  margin-top: 35%;
  margin-left: 78%
}