#upper_left {
	position: absolute;
	top: 0;
	left: 0;
}

#upper_right {
	position: absolute;
	top: 0;
	right: 0%;
}

section
{
  margin-left:50px;
   margin-top:55px;
    margin-bottom:130px;
    width:  90%;
      width: 700px;
       height: 420px;
  background:white;
  padding: 10px;
  box-shadow: black 0px 0px 10px;
  border-radius: 10px;
}

body{
background-image: url("imagenes/back.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 60%;
margin: 0 auto;
}

#fr {
        width: 250px;
        clear: both;
	margin:auto; 
    }
#fr input {
        width: 100%;
        clear: both;
  margin:auto; 
}


h1{
  text-align: center;
}

label{

font-family: "Times New Roman", Times, serif;
font-size: 14px;

}